body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.pinimg.com/originals/8d/d9/b0/8dd9b0aecfa1aae751e0b0873070e0ac.jpg);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  width: 300px;
  height: 500px;
  border-radius: 5%;
}

.prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1%;
  background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-celeste_1077-3.jpg?t=st=1656629568~exp=1656630168~hmac=1ab75acf9ddf779aad05303a0ce62c1771a4ea8a6e33537fb32b53db9ce93d62&w=740);
  width: 300px;
  height: 450px;
  border-radius: 5%;
  color: #546472;
}

.resumen1 {
  display: flex;
  flex-direction: column;
  background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-celeste_1077-3.jpg?t=st=1656629568~exp=1656630168~hmac=1ab75acf9ddf779aad05303a0ce62c1771a4ea8a6e33537fb32b53db9ce93d62&w=740);
  border-radius: 5%;
  width: 200px;
  text-align: center;
  margin-left: 50px;
}

.resumen2 {
  display: flex;
  justify-content: center;
  width: 200px;
}

.image {
  display: flex;
  width: 200px;
  justify-content: center;
}

#input-2,
#precio {
  width: 177px;
  height: 21px;
  margin-top: 15px;
}

#color {
  border-radius: 50%;
  border: 1px solid;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

#boton {
  margin-top: 40px;
  width: 150px;
  border: 1.7px solid;
  height: 25px;
  background-color:#028c8c;
  border-radius: 20px ; 
}
